.main-container {
    -fx-background-color: #f4f8fb;
}
.content-container {
    -fx-background-color: #ffffff;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.1), 10, 0, 0, 5);
}

.section-title {
    -fx-font-size: 20px;
    -fx-text-fill: #1e3a8a; /* deep blue */
    -fx-font-weight: bold;
}

.custom-table {
    -fx-border-color: #e5e7eb;
    -fx-border-radius: 5;
    -fx-background-color: #f9fafb;
}

.primary-button {
    -fx-background-color: #1d4ed8;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 14;
    -fx-background-radius: 5;
}

.secondary-button {
    -fx-background-color: #3b82f6;
    -fx-text-fill: white;
    -fx-padding: 8 14;
    -fx-background-radius: 5;
}


.danger-button {
    -fx-background-color: #dc3545;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-opacity: 0.85;
    -fx-cursor: hand;
}

.add-button {
    -fx-background-color: #28a745;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

.action-button {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 20;
    -fx-background-radius: 5;
}

/* Sidebar container */
.sidebar-container {
    -fx-background-color: #2c3e50;
    -fx-padding: 20;
    -fx-pref-width: 180;
    -fx-alignment: TOP_CENTER;
    -fx-spacing: 20;
    -fx-border-radius: 0 10 10 0;
}

/* Sidebar buttons */
.sidebar-btn {
    -fx-background-color: #34495e;
    -fx-text-fill: #ecf0f1;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-background-radius: 8;
    -fx-pref-width: 180px; /* Increase width as needed */
    -fx-padding: 10 15;
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
    -fx-wrap-text: true;   /* Allow text to wrap if it's too long */
    -fx-cursor: hand;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 4, 0, 0, 1);
}

.sidebar-btn:hover {
    -fx-background-color: #1abc9c;
    -fx-text-fill: #ffffff;
}

.hyperlink-label {
    -fx-text-fill: #1d4ed8;
    -fx-underline: true;
    -fx-cursor: hand;
    -fx-font-weight: bold;
}


